html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 0px;
	padding: 0 0 25px;
  	padding-bottom: 100px;
}

footer {
	background-color: #c0c0c0;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}

.navbar {
  margin-bottom: 20px;
}
